@import "compass/css3";
@import "font-awesome-compass";
@import "font-awesome/variables";
@import "font-awesome";
@import "bootstrap-compass";
@import "bootstrap/variables";
@import "bootstrap";

.container {
  margin-top: 1em !important;
  margin-bottom: 1em !important;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 1em;
  background-color: $gray-lighter;
  @include border-radius(4px, 4px);
  @include box-shadow($gray-dark 2px 2px 10px);
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.nav {
  background-color: $gray-lighter;
}

.nav-pills {
  li {
    background-color: $brand-primary;
    @include border-radius(4px, 4px);
    border: 2px solid $body-bg;
    vertical-align: middle;
    a { color: white; }
    &:active {
      @include box-shadow(black 2px 2px 2px 1px inset);
    }
    a {
      background-color: transparent !important;
    }
  }
  &.nav-justified {
    @media (min-width: $screen-sm) and (max-width: $screen-md) {
      &>li {
        font-size: 75%;
      }
    }
  }
}

.detail {
  margin-top: 1em;
}

body.resume {
  #tabs {
    li.resume {
      @extend .active;
    }
  }
}
